$pos: 30px;
$arrow-color: $medium-purple;

.arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  fill: $arrow-color;
  filter: drop-shadow(0);
  position: fixed;
  top: calc(50% - 25px);
  transition: filter .2s;

  &:hover {
    filter: drop-shadow(0 0 8px orange);
  }

  &:active {
    fill: lighten($arrow-color, 10%);
  }

  &:disabled {
    cursor: default;
    fill: $medium-grey !important;

    &:hover {
      filter: drop-shadow(0 0 0);
    }
  }

  &:focus {
    outline: 0;
  }

}

.right-arrow {
  right: $pos;
}

.left-arrow {
  left: $pos;
}
