$pos: 30px;
$pos-smallscreen: 5px;
$arrow-color: $medium-purple;


.arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  fill: $arrow-color;
  filter: drop-shadow(0);
  position: fixed;
  top: calc(50% - 25px);
  transition: filter .2s;
  z-index: 100;

  &:hover {
    fill: $dark-purple;
  }

  &:active {
    fill: lighten($arrow-color, 10%);
  }

  &:disabled {
    cursor: default;
    fill: $medium-grey !important;

    &:hover {
      filter: drop-shadow(0 0 0);
    }
  }

  &:focus {
    outline: 0;
  }

}

.right-arrow {
  right: $pos;
}

.left-arrow {
  left: $pos;
}

@media all and (max-width: 800px) {
  .right-arrow {
    right: $pos-smallscreen;
  }

  .left-arrow {
    left: $pos-smallscreen;
  }
}

@media all and (max-width: 600px) {
  .arrow {
    background: $dark-purple;
    bottom: 0;
    fill: white;
    height: 60px;
    padding-top: 8px;
    top: auto;
    width: 50vw;

    &:hover {
      filter: none;
    }

    &:active {
      background: lighten($dark-purple, 10%);
    }
    &:disabled {
      display: none;
      // background: $medium-grey;
      // fill: $dark-grey !important;
    }
  }
  .only-arrow {
    width: 100%;
  }
  .right-arrow {
    right: 0;
  }

  .left-arrow {
    left: 0;
  }
}
