.tweet {
  margin: 120px auto;
  max-width: 963px;
  padding: 0 60px;
}

@media all and (max-width: 600px) {
  .tweet {
    margin: 80px auto 100px auto;
    padding: 20px;
  }
}

.tweet__text {
  color: $light-grey;
  margin-bottom: 50px;
  min-height: 200px;

  .tweet__text__content {
    // border-bottom: 2px solid $orange;
    color: $orange;
    font-size: 40px;
    font-style: italic;
    line-height: 50px;
  }

  .tweet__text__datetime {
    color: $medium-grey;
    display: block;
  }
}

@media all and (max-width: 800px) {
  .tweet__text {
    .tweet__text__content {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.tweet__charts {
  border-bottom: 1px dashed #6fa19f;
  border-top: 1px dashed #6fa19f;
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: space-around;
  padding: 0 20px;
}

.tweet__charts__section {
  cursor: crosshair;
  display: flex;
  flex-direction: row;
  min-width: 100px;
  height: 100%;
  position: relative;

  &:hover {
    background: $light-grey;

    .tweet__charts__section__name {
      background: $light-grey;
    }
  }
}

@media all and (max-width: 800px) {
  .tweet__charts {
    border: none;
    display: block;
    padding: 0;
    text-align: center;
    width: 500px;
  }
  .tweet__charts__section {
    background: $light-grey;
    box-sizing: border-box;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 0 90px;
    width: calc(100vw - 120px);
  }
}

@media all and (max-width: 600px) {
  .tweet__charts {
    width: 100%;
  }
  .tweet__charts__section {
    background: linear-gradient(to top, $light-grey, $light-grey, rgba(255, 255, 255, 0));
    margin: 0;
    margin-bottom: 120px;
    padding: 0;
    width: 100%;
  }
}

.tweet__charts__section__name {
  color: $dark-purple;
  left: 0;
  mix-blend-mode: multiply;
  padding: 8px 0;
  position: absolute;
  text-align: center;
  top: -35px;
  width: 100%;
}

.emotion_tone__wrapper {
  display: flex;
  height: 100%;
  &:hover {
    background: darken($light-grey, 2%);
    .emotion_tone__type__score {
      display: block;
    }
  }
}

.emotion_tone__type__score {
  color: white;
  display: none;
  position: absolute;
  text-align: center;
  top: calc(50% - 6px);
  width: 100%;
  &--small {
    color: $dark-purple;
    top: -20px;
  }
}

.emotion_tone__type {
  background: $dark-purple;
  margin-right: 1px;
  margin-top: auto;
  min-height: 2px;
  position: relative;
  transition: height .5s;
  width: 60px;
}

@media all and (max-width: 800px) {

  .emotion_tone__type {
    text-align: left;
  }
}

.emotion_tone__type__text {
  bottom: -65px;
  color: $warm-grey;
  font-family: 'Overpass Mono';
  font-size: .7em;
  left: 20%;
  position: absolute;
  text-transform: uppercase;
  transform: rotate(40deg);
  width: 150px;
}

@media all and (max-width: 600px) {
  .emotion_tone__type__text {
    bottom: auto;
    top: -90px;
    left: -44px;
    // mix-blend-mode: screen;
    text-align: right;
    transform: rotate(90deg);
  }
}

// tweet not found

.tweet-not-found {
  color: $dark-purple;
  padding: 30vh 0;
  text-align: center;

  h1{
    font-size: 3em;
    margin: 0;
    margin-bottom: 5px;
  }
}
