body {
  font-family: Roboto;
}

a {
  color: $medium-grey;
  text-decoration: none;
  //color: orangered;
  font-style: italic;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  background: transparent;
}
